@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'SB Sans Text';
	src: url('./assets/fonts/SB_Sans_Text.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'SB Sans Text', sans-serif;
}
